<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title> Auskim </title>

        <link id="snipcart-theme" type="text/css" href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="spice.css" type="text/css" rel="stylesheet">

    </head>

    <body>

        <nav class="black nav-wrapper">
            <div class="container">
                <a href="#" class="center brand-logo"> Auskim </a>
                <!-- <a href="#" class="sidenav-trigger" data-target="mobile-links"> -->
                <!--     <i class="material-icons">menu</i> -->
                <!-- </a> -->
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


                <div class="hide-on-large-only right snipcart-summary">
                    <a href="#" class="sidenav-trigger snipcart-checkout">
                        <i class="sidenav-trigger material-icons">add_shopping_cart</i>(<span class="snipcart-total-items">0</span>)
                    </a>
                </div>

                <ul class="left hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
                <div class="right hide-on-med-and-down snipcart-summary">
                    <a href="#" class="snipcart-checkout">
                        <div class="sidenav-trigger">View cart</div> (<span class="snipcart-total-items">0</span>)
                    </a>
                </div>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Login</a></li>
        </ul>

